html {
  height: 100%;
  width: 100%;
}
.Wrapper{
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #344151;
  
  
}
.heading{
  color: #0398d4;
  font-weight: medium;
  font-size: 20px;
  margin-bottom: 35px;
  
}
.content{
  background-color: white;
  display:flex;
  font-size: 25px;
  color:#344151;
  padding: 21px;
  padding-right: 36px;
  
}
.decrement{
   
  background-color: white;
   border:none;
  
 
  padding-right: 50px;
}
.counter{
  font-weight: bold;
}
.increment{
  border:none;
  background-color: white;
  border-left: 2px;
  border-color: #bfbfbf;
  padding-left: 50px;
  
}